<%= form_with(model: expense_category, local: true) do |form| %>
  <div class="field form-group col-md-6">
    <%= form.label :name, t('views.expense_categories.form.name') %>
    <%= form.text_field :name, required: true, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-6">
    <%= form.label :description, t('views.expense_categories.form.description') %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions col-md-2">
    <%= form.submit(t('views.app.button.save'), class: 'btn btn-primary') %>
  </div>
<% end %>
