<section class="col-md-12">
  <%= render('layouts/shared/notice', message: notice) if notice %>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <h1>Categorias de Despesa</h1>

    <div class="page-title-buttons">
      <%= link_to 'Criar Categoria', new_expense_category_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>

  <div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @expense_categories.each do |expense_category| %>
            <tr>
              <td><%= expense_category.name %></td>
              <td><%= expense_category.description %></td>
              <td class="td-center"><%= link_to t('views.app.button.edit'), expense_category_path(expense_category), class: 'btn btn-primary btn-sm' %></td>
              <td class="td-center">
                <% if (@expense_categories.count > 1) && (expense_category.expenses_count.zero?) %>
                  <%= link_to(
                    t('views.app.button.remove'),
                    expense_category_path(expense_category),
                    method: :delete,
                    data: { confirm: t('views.app.dialog.confirm') },
                    class: 'btn btn-danger btn-sm'
                  ) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
