<section class="form-section">
  <div class="col-sm-12">
    <% if notice %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= notice %>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <h1>Adicionar Despesa por CSV</h1>

    <%= form_with(url: expense_creators_path, local: true, method: :post) do |form| %>
      <div class="upload-file-form">
        <div class="custom-file">
          <%= form.file_field :file, multiple: false, required: true, class: 'custom-file-input' %>
          <label class="custom-file-label" for="file">Escolher Arquivo</label>
        </div>

        <div class="actions">
          <div class="btn-group">
            <%= form.submit('Criar Despesas', class: 'btn btn-primary') %>

            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to(
                'Baixar Modelo de CSV',
                download_csv_template_expense_creators_path,
                target: '_blank',
                class: 'dropdown-item'
              ) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <br>

    <% if @expense_creators.present? %>
      <h2>Resultados</h2>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <% @expense_creators.each do |expense_creator| %>
              <tr>
                <td scope="row"><%= expense_creator.date %></td>
                <td scope="row"><%= expense_creator.expense_creator_results_count %></td>
                <td scope="row"></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>

<%= javascript_pack_tag 'expense_creators' %>
