<section class="form-section">
  <div class="col-sm-12">
    <%= render('layouts/shared/alert', message: alert) if alert %>

    <h1><%= t('views.expense_creators.index.title') %></h1>

    <%= form_with(url: expense_creators_path, local: true, method: :post) do |form| %>
      <div class="upload-file-form">
        <div class="custom-file">
          <%= form.file_field :file, multiple: false, required: true, class: 'custom-file-input' %>
          <label class="custom-file-label" for="file">
            <%= t('views.expense_creators.index.form.file') %>
          </label>
        </div>

        <div class="actions">
          <div class="btn-group">
            <%= form.submit(t('views.expense_creators.index.form.submit'), class: 'btn btn-primary') %>

            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to(
                t('views.expense_creators.index.link.download_csv_template'),
                download_csv_template_expense_creators_path,
                target: '_blank',
                class: 'dropdown-item'
              ) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <br>

    <% if @expense_creators.present? %>
      <h2><%= t('views.expense_creators.index.previous') %></h2>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><%= t('views.expense_creators.index.column.date') %></th>
              <th scope="col"><%= t('views.expense_creators.index.column.total') %></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <% @expense_creators.each do |expense_creator| %>
              <tr>
                <td scope="row"><%= I18n.l(expense_creator.date, default: '') %></td>
                <td scope="row"><%= expense_creator.expense_creator_results_count %></td>
                <td class="td-center">
                  <%= link_to(
                    t('views.expense_creators.index.link.details'),
                    expense_creator_path(expense_creator),
                    class: 'btn btn-primary btn-sm'
                  ) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
      <%= paginate @expense_creators %>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'expense_creators' %>
