<section class="form-section">
  <div class="col-sm-12">
    <% if notice %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= notice %>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <h1>Adicionar Despesa por CSV</h1>

    <%= form_with(url: expense_creators_path, local: true, method: :post) do |form| %>
      <div class="inline-form"">
        <div class="field">
          <%= form.file_field :file, multiple: false, required: true, class: 'form-control-file' %>
        </div>

        <div class="actions col-md-2">
          <%= form.submit('Carregar Arquivo', class: 'btn btn-primary') %>
        </div>
      </div>
    <% end %>

    <br>

    <% if @expense_creators.present? %>
      <h2>Resultados</h2>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <% @expense_creators.each do |expense_creator| %>
              <tr>
                <td scope="row"><%= expense_creator.date %></td>
                <td scope="row"><%= expense_creator.expense_creator_results_count %></td>
                <td scope="row"></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</section>
