<section class="col-md-12">
  <div class="col-sm-12">
    <%= render('layouts/shared/notice', message: notice) if notice %>

    <h1><%= t('views.expense_creators.show.title') %></h1>

    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t('views.expense_creators.show.column.row') %></th>
            <th scope="col"><%= t('views.expense_creators.show.column.details') %></th>
          </tr>
        </thead>

        <tbody>
          <% @expense_creator_results.each do |expense_creator_result| %>
            <tr>
              <td scope="row"><%= expense_creator_result.raw_content %></td>
              <td scope="row"><%= expense_creator_result.details %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <h3>
        <%= t('views.expense_creators.show.total', results_count: @expense_creator.expense_creator_results_count) %>
      </h3>

      <%= paginate @expense_creator_results %>
    </div>
  </div>
</section>
