<section class="col-md-12">
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      <h2 class="text-center"><%= t('views.registrations.title') %></h2>

      <div class="field form-group">
        <%= form.label :email, t('views.registrations.form.email') %><br />
        <%= form.email_field(
          :email,
          autofocus: true,
          autocomplete: 'email',
          required: true,
          class: "form-control#{validation_class(@fields_validation, :email)}")
        %>

        <div class="invalid-feedback">
          <%= @fields_validation.try(:dig, *[:email, :message]) %>
        </div>
      </div>

      <div class="field form-group">
        <%= form.label :password, t('views.registrations.form.password') %>

        <% if @minimum_password_length %>
          <em>
            <%= t('views.registrations.label.minimum_characters', minimum_password_length: @minimum_password_length) %>
          </em>
        <% end %><br />

        <%= form.password_field(
          :password,
          autocomplete: 'new-password',
          required: true,
          class: "form-control#{validation_class(@fields_validation, :password)}")
        %>

        <div class="invalid-feedback">
          <%= @fields_validation.try(:dig, *[:password, :message]) %>
        </div>
      </div>

      <div class="field form-group">
        <%= form.label :password_confirmation, t('views.registrations.form.password_confirmation') %><br />
        <%= form.password_field(
          :password_confirmation,
          autocomplete: 'new-password',
          required: true,
          class: "form-control#{validation_class(@fields_validation, :password_confirmation)}")
        %>

        <div class="invalid-feedback">
          <%= @fields_validation.try(:dig, *[:password_confirmation, :message]) %>
        </div>
      </div>

      <div class="field form-group">
        <%= form.fields_for :places do |place_form| %>
          <%= place_form.label :name, t('views.registrations.form.place') %><br />
          <%= place_form.text_field(
            :name,
            value: @place_name,
            required: true,
            class: "form-control#{validation_class(@fields_validation, :name)}")
          %>

          <div class="invalid-feedback">
            <%= @fields_validation.try(:dig, *[:name, :message]) %>
          </div>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit(t('views.registrations.form.submit_button'), class: 'btn btn-primary btn-block') %>
      </div>
    <% end %>

    <div class="text-center">
      <%- if controller_name != 'sessions' %>
        <%= link_to(t('views.registrations.link.enter'), new_session_path(resource_name), class: 'authentication-link') %><br />
      <% end %>
    </div>
  </div>
</section>
