<%= form_with(model: loan, local: true, html: { onsubmit: normalize_float_values(loan_float_fields) }) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-6">
    <%= form.label :person, 'Pessoa' %>
    <%= form.text_field :person, required: true, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-6">
    <%= form.label :description, 'Descrição' %>
    <%= form.text_field :description, required: true, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :borrowed_amount, 'Valor do Empréstimo' %>
    <%= form.text_field(
      :borrowed_amount,
      oninput: only_numbers_script,
      required: true,
      class: 'form-control',
      value: formated_float_value(loan.borrowed_amount)
    )%>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :loan_date, 'Data do Empréstimo' %>
    <%= form.text_field :loan_date, class: 'form-control', type: 'date', value: date_field(loan.loan_date) %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :expected_amount_to_receive, 'Valor Esperado Receber' %>
    <%= form.text_field(
      :expected_amount_to_receive,
      oninput: only_numbers_script,
      required: false,
      class: 'form-control',
      value: formated_float_value(loan.expected_amount_to_receive)
    )%>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :estimated_receipt_at, 'Data Estimada para Receber' %>
    <%= form.text_field :estimated_receipt_at, class: 'form-control', type: 'date', value: date_field(loan.estimated_receipt_at) %>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :received_amount, 'Valor Recebido' %>
    <%= form.text_field(
      :received_amount,
      oninput: only_numbers_script,
      required: false,
      class: 'form-control',
      value: formated_float_value(loan.received_amount)
    )%>
  </div>

  <div class="field form-group col-md-4">
    <%= form.label :received_at, 'Recebido em' %>
    <%= form.text_field :received_at, class: 'form-control', type: 'date', value: date_field(loan.received_at) %>
  </div>

  <div class="actions col-md-2">
    <%= form.submit('Salvar', class: 'btn btn-primary') %>
  </div>
<% end %>

<%= javascript_pack_tag 'loans' %>
