<section class="col-md-12">
  <%= render('layouts/shared/notice', message: notice) if notice %>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <h1><%= loans_title(@loan_status) %> </h1>

    <div class="page-title-buttons">
      <%= link_to(
        t('views.loans.index.link.received_loans'),
        loans_path(@params_to_toggle_loan_status),
        class: 'btn btn-success btn-sm')
      %>
    </div>
  </div>

  <div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t('views.loans.index.column.person') %></th>
            <th scope="col"><%= t('views.loans.index.column.description') %></th>
            <th scope="col"><%= t('views.loans.index.column.borrowed_amount') %></th>
            <th scope="col"><%= t('views.loans.index.column.loan_date') %></th>
            <th scope="col"><%= t('views.loans.index.column.received_amount') %></th>
            <th scope="col"><%= t('views.loans.index.column.received_at') %></th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.person %></td>
              <td><%= loan.description %></td>
              <td class="td-right"><%= format_to_money(loan.borrowed_amount) %></td>
              <td class="td-right"><%= format_date(loan.loan_date) %></td>
              <td class="td-right"><%= format_to_money(loan.received_amount) %></td>
              <td class="td-right"><%= format_date(loan.received_at) %></td>
              <td class="td-center"><%= link_to t('views.app.button.edit'), loan_path(loan), class: 'btn btn-primary btn-sm' %></td>
              <td class="td-center"><%= link_to t('views.app.button.remove'), loan, method: :delete, data: { confirm: t('views.app.dialog.confirm') }, class: 'btn btn-danger btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <h3>
      <%= t('views.loans.index.total', amount_of_loans_to_receive: format_to_money(@amount_of_loans_to_receive)) %>
    </h3>

    <%= paginate @loans %>
  </div>
</section>
