<section class="col-md-12">
  <% if notice %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <%= render(
    'loans_title',
    loan_status: @loan_status
  )
  %>

  <div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Pessoa</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Data</th>
            <th scope="col">Valor Recebido</th>
            <th scope="col">Recebido em</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.person %></td>
              <td><%= loan.description %></td>
              <td class="td-right"><%= format_to_money(loan.borrowed_amount) %></td>
              <td class="td-right"><%= format_date(loan.loan_date) %></td>
              <td class="td-right"><%= format_to_money(loan.received_amount) %></td>
              <td class="td-right"><%= format_date(loan.received_at) %></td>
              <td class="td-center"><%= link_to 'Editar', loan_path(loan), class: 'btn btn-primary btn-sm' %></td>
              <td class="td-center"><%= link_to 'Remover', loan, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <h3>Total em Empréstimos: <%= format_to_money(@amount_of_loans_to_receive) %></h3>

    <%= paginate @loans %>
  </div>
</section>
