<section class="col-md-12">
  <%= render(
    'expenses_title',
    current_expense_month: @current_expense_month,
    switch_page_to: :to_index,
    switch_page_path: :expenses_path,
    switch_month_path: :report_expenses_path)
  %>

  <div>
    <div class="card-deck">
      <% @expenses_grouped_data.each do |group| %>
        <div class="card">
          <div class="card-header text-white bg-primary">
            <%= group[:expense_group_name] %>
          </div>

          <div class="card-body">
            <% group[:categories].each do |category| %>
              <%= category[:name] %>

              <div class="progress progress-height">
                <div class="progress-bar" role="progressbar" style="width: <%= category[:percent_total] %>%;"
                      aria-valuenow="<%= category[:percent_total] %>" aria-valuemin="0" aria-valuemax="100">
                  <%= formated_percent(category[:percent_total]) %>%
                </div>
              </div>
            <% end %>
          </div>

          <div class="card-footer td-right">
            <%= t('views.expenses.report.total', total: number_to_currency(group[:total])) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
