<!DOCTYPE html>
<html>
  <head>
    <title><%= t('views.app.name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="width=device-width, initial-scale=1" name="viewport">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.svg') %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to(t('views.app.name'), root_path, class: 'navbar-brand') %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% if user_signed_in? %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= t('views.app.menu.expense.name') %>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to(t('views.app.menu.expense.new'), new_expense_path, class: 'dropdown-item') %>

                  <div class="dropdown-divider"></div>

                  <%= link_to(t('views.app.menu.expense.new_from_csv'), expense_creators_path, class: 'dropdown-item') %>

                  <div class="dropdown-divider"></div>

                  <%= link_to(t('views.app.menu.expense.index'), expenses_path, class: 'dropdown-item') %>
                  <%= link_to(t('views.app.menu.expense.report'), report_expenses_path, class: 'dropdown-item') %>

                  <div class="dropdown-divider"></div>

                  <%= link_to(t('views.app.menu.expense.places'), places_path, class: 'dropdown-item') %>

                  <div class="dropdown-divider"></div>

                  <%= link_to(t('views.app.menu.expense.expense_groups'), expense_groups_path, class: 'dropdown-item') %>

                  <div class="dropdown-divider"></div>

                  <%= link_to(t('views.app.menu.expense.new_category'), new_expense_category_path, class: 'dropdown-item') %>
                  <%= link_to(t('views.app.menu.expense.index_categories'), expense_categories_path, class: 'dropdown-item') %>
                </div>
              </li>
            </ul>

            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= t('views.app.menu.loan.name') %>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to(t('views.app.menu.loan.new'), new_loan_path, class: 'dropdown-item') %>

                  <div class="dropdown-divider"></div>

                  <%= link_to(t('views.app.menu.loan.index'), loans_path, class: 'dropdown-item') %>
                </div>
              </li>
            </ul>

            <%= link_to(
              t('views.app.button.exit'),
              destroy_user_session_path,
              method: :delete,
              class: 'btn btn-outline-dark'
            ) %>
          </div>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="footer">
      <div>
        <%= t('views.app.footer', current_year: current_year) %>
      </div>
    </footer>
  </body>
</html>
